$shadow: rgba(0, 0, 0, .2);
$white: #fff;
$sky-clr: #149de7;
$bg-clr: #f6f6f6;
$input-clr: #0d0d0d;
$able-bg: #eceaea;
$grey-text: #828080;
$shd-clr: #d0cfcf;
$brdr-clr: #e2dddd;
$red: #f00;
$green: #008000;
$dark-grey: #676363;
$lght-gry: #d3d3d3;
$lght-red: #de5252;
$check-clr: #999999;
$btn-clr: #333;
