@import "mixin";
@import "var";

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container-size {
  max-width: 88%;
  margin: auto;
}

/* nav start */
.nav-bar {
  border-bottom: 1px solid $light-color;
  box-shadow: 0 18px 20px $light-color;
  a {
    @include link-property($black-color, inline-block, 25px 20px);
    &:hover {
      background: $light-color;
      color: $red-color;
    }
  }

  .icon {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 20px 0;
  }

  li {
    display: inline;
  }
}

.new-heading {

  h2 {
    display: inline-block;
  }

  ul {
    @include bg-position ($light-color,'','', '');
    float: right;
    margin: 11px 90px 0 0;
  }

  li {
    display: inline;
    a {
      @include link-property(#c1c1c1, inline-block, 14px 14px);

       &.active {
         color: red;
       }
       &:hover {
         @include hover-property;
       }
    }
   }
}

.social-icon {
  float: right;

  i {
    margin-left: 15px;

    &:hover {
     @include hover-property;
    }
  }
}

/* trending section  */
.trending-now {
  padding: 40px 0;

  button{
    @include bg-position ($red-color,1px solid $red-color,4px, '');
    font-size: 14px;
    font-weight: 400;
    @include clr-padding($color, 10px 20px);
    &:hover {
      cursor: pointer;
    }
  }

  span {
    margin-left: 18px;
  }
}

.footer-menu {
  float: right;

  a {
    color: #848383;
    font-size: 12px;
    margin: 0 18px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      color: $red-color;
    }
  }
}

.appitizer {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0, 0, 0, 0.2)), url(../img/trending/trending_top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 415px;
  margin-right: 35px;

  button {
    padding: 10px 20px;
    @include bg-position (#FFF9C6,1px solid #FFF9C6,5px, '');
  }

  h1 {
    color: $color;
    font-size: 30px;
    margin-bottom: 0;
    text-align: left;
    text-transform: capitalize;
  }

}

.new-party {
  padding-top: 20px;
  position: relative;
  margin-bottom: 45px;

  .party {
    @include bg-position ($color,1px solid $color,0 5px, absolute);
    margin-right: 72px;
    padding: 5px 15px;
    bottom: -35px;
  }
}

.follow {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  div {
    border: 1px solid #fbf7f7;
    display: flex;
    margin-bottom: 8px;
    padding: 12px 0 0 10px;
    text-align: center;
    width: 42%;

    &:hover {
      cursor: pointer;
    }
  }

  img {
    width: 30px;
    height: 30px;
  }

  p {
    margin: 0 0 10px 10px;
  }
}

.corporate-news {
  position: relative;
  width: 25%;

  .corpo {
    @include bg-position (#f5dfe2,'','', absolute);
    font-size: 10px;
    padding: 9px 10px;
    text-align: center;
    text-transform: uppercase;
    bottom: 109px;
    width: 25%;
  }
}

.video-politics {
  padding-top: 30px;
  width: 50%;

  p {
    line-height: 25px;
    margin-right: 140px;
  }
}

.pagination {
  display: flex;
  justify-content: center;

  i.fa.fa-arrow-left, span {
    @include clr-padding(#c1c1c1, 15px);
  }
  
  .one-page {
    border-top: 3px solid $red-color;
    @include clr-padding($black-color, 12px 0 0 0 !important);
  }

  span:hover {
    cursor: pointer;
    border-top: 3px solid $red-color;
    @include clr-padding($black-color, 12px 15px 15px);
  }

  i.fa.fa-arrow-right {
    @include clr-padding($red-color, 15px);
  }
}

.foot {
  @include bg-position ($black-color,'','', '');
  @include clr-padding(#848383, 100px 0 60px 0);

  hr {
    @include bg-position (#2f2f2f,'','', '');
  }
}

.footer-logo {
  width: 40%;

  p {
    line-height: 25px;
    margin-top: 32px;
  }
}

.insta-feed {
  padding: 45px;
  width: 30%;

  h2 {
    color: $color;
    font-size: 20px;
  }
}
.news-letter {
  padding: 45px;
  width: 30%;

  h2{
    color: $color;
    font-size: 20px;
  }

  p {
    margin: 32px 0 40px 0;
  }

  input[type="email"] {
    @include bg-position ($black-color,0,'','');
    border-bottom:1px solid #2f2f2f !important ;
    outline: 0;
    @include clr-padding($color, 11px 7px);
    width: 78%;
  }
  
  span {
    @include position-prop (relative, 8px, '', 37px, '');
  }
}

.politics {
  display: inline;
  padding: 16px 115px 22px 0;
  @include bg-position ($color,1px solid $color,0 5px, absolute);
  /* top: 77%; */
  bottom: -30px;

  p {
    padding: 12px 20px 12px 20px;
    margin-top: 0;
  }

  button {
    margin-left: 15px;
    padding: 21px;
    border-radius: 10px;
  }
}

.video-sec {
  display: flex;
  padding-bottom: 30px;

  h2 {
    text-transform: capitalize;
  }
}

/* upper-header css start */
.upper-header {
  @include clr-padding($color, 16px 48px);
}

.hero-logo {
  float: right;
}

.header {
  border-bottom: 1px solid $light-color;
}

.logo-images {
  padding: 15px 0;
}

.social-info-header {
  @include bg-position ($black-color,'','','');
}

.trending-section {
  padding-bottom: 10px;
}

.trending {
  padding-bottom: 50px;
}

.trending, .concerts, .sea, .bike, .see, .skeping, .top-news, .footer-content {
  display: flex;
}

.trending-top, .whats {
  width: 65%;
}

.concert, .follow-us {
  width: 35%;
}

.appitizer-content {
  position: relative;
  /* bottom: -28px; */
  top: 60%;
  left: 30px;
  @include position-prop (relative, 60%, 30px, '', '');
}

.calender-view {
  margin-left: 65px;
}

.life-sports {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.events {
  font-size: 10px;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 26%;
}

.lifestyles p, .concerts p {
  @include bg-position (#f7d9dd,'','', '');

}

 .sports p, .bike p {
  @include bg-position (#ececbe,'','', '');
}

.travels p, .sea p {
  @include bg-position (#cfebf5,'','', '');
}

.see p {
  @include bg-position (#fbfbd2,'','', '');
}

.skeping p, .stike p, .party p, .politics p {
  @include bg-position (#f1dbde,'','', '');
}

.concert-party, .see-beach, .bike-show, .see-beach, .skeping-contest {
  margin-left: 20px;
}

.party-margin {
  margin-left: 30px;
}

.weekly-news {
  display: flex;
  padding-bottom: 40px;
}

.stike, .strike-image, .strike-img,.recent-articles .new-party, .travels, .sports, .lifestyles {
  width: 33%;
}

.stike, .iframe-videos {
  position: relative;
}

.stike .strike-winner {
  margin-left: 20px;
  margin-right: 85px;
  padding: 5px 15px;
  @include bg-position ($color,1px solid $color,5px, absolute);
  /* top: 64%; */
  bottom: 25px;
}

.weekly-top-news h2 {
  padding-bottom: 15px;
  padding-top: 30px;
}

.wats-new {
  display: flex;
  flex-wrap: wrap;
  clear: both;
}

.new-what {
  display: flex;
  padding: 30px 0;
}

.music-event img {
  margin: 40px;
  width: 60%;
}

.margin-follow {
  margin-left: 12px;
}

.date {
  color: #b5b3b3;
}

.top-news-weekly {
  @include bg-position (#F7F7FD,'','', '');
  padding: 70px 0;
}

.youtube-videos {
  display: flex;
  padding-top: 50px;
  width: 50%;
}

.frame-video {
  margin-left: 9px;
}

.video {
  padding: 100px 0 60px 0;
}

.btn-iframe {
  @include position-prop (relative, '', '', -90px, '');
}

.left-button {
  border: $light-color;
  color: #c1c1c1;
  /* margin-left: 137px; */
}

.right-button {
  @include bg-position ($red-color,$red-color,'', '');
  color: $color;
}

.recent-articles .party {
  margin-right: 130px;
}

.footer-content .social-icon {
  @include clr-padding(#383636, 45px 0);
  float: left;
  font-size: 18px;
}

.feeds {
  padding-top: 17px;
}

.copy-right {
  padding-top: 43px;
}

.hearts {
  color: $red-color;
}

hr {
  @include bg-position (#dad7d7,'','', '');
  border-width: 0;
  color: #2f2f2f;
  height: 1px;
}

.video-frame {
  width: 150px;
}

.pagination-hr {
  margin-bottom: 0;
}

.mumbai-road {
  width: 100%;
  height: 500px;
}

@media (max-width: $xs-device) {
  .nav-bar {
    .icon {
      display: block;
    }

    ul{
      display: none;
    }
  }
  
  .social-info-header {
    display: none;
  }
  .hero-logo {
    float: none;

    img {
      width: 300px;
    }
  }

  .youtube-videos,.video-sec,.trending,
  .concerts, .sea, .bike, .see, .skeping,
  .top-news, .footer-content,.life-sports,
  .weekly-news,.new-what {
    display: block;
  }

  .news-letter, .insta-feed, .footer-logo, 
  .youtube-videos, .video-politics, .corporate-news, 
  .trending-top, .whats, .concert, .follow-us, .stike,
  .strike-image, .strike-img, .recent-articles .new-party,
  .travels, .sports, .lifestyles  {
    width: 100%;
  }

  .video-politics p {
    margin-right: 0;
  }

  .footer-content .social-icon {
    padding: 0;
  }

  .news-letter, .insta-feed {
    padding: 50px 0 0 0;
  }

  .appitizer , .recent-articles .party{
    margin-right: 0;
  }

 .appitizer .appitizer-content {
   left: 10px;
 }

 .appitizer .appitizer-content h1 {
    font-size: 20px;
 }

  .concert-party, .see-beach, .bike-show, .see-beach, .skeping-contest {
    margin-left: 0;
  }

  .strike-image , .strike-img {
    margin-top: 15px;
  }

  .new-party{
    margin-bottom: 0;

    .party {
      position: unset;
      margin-right: 0;
    }

    .party-margin {
      margin-left: 0;
    }
  } 

  .new-heading {
    ul {
      float: none;
    }

    li a {
      display: block;
    }
  }

  iframe.video-frame {
    width: 100%;
  }

  .corporate-news p.corpo {
    bottom: 89px;
  }

  .politics {
    left: -1px;
  }
  
}

@media (min-width: $sm-device) and (max-width: $md-device) {
  .top-news {
    flex-wrap: wrap;
  }

  .corporate-news {
    width: 50%;
  }

  iframe.video-frame {
    width: 100%;
  }

  .video-politics p {
    margin-right: 20px;
  }

  .footer-logo {
    width: 100%;
  }
  .news-letter, .insta-feed {
    padding: 0;
    width: 50%;
  }
  .recent-articles .party {
    margin-right: 15px;
  }
  
  .footer-content {
    flex-wrap: wrap;
  }  
}

@media (max-width: $lg-devices) {
  .youtube-videos {
    flex-wrap: wrap;
  }

  .weekly-news img, .concert img, .life-sports img, .new-party img {
    width: 100%;
  }

 .life-sports > div, .weekly-news > div {
    padding-right: 30px;
  }

  .concert img {
    height: 100%;
  }

  .stike .strike-winner {
    margin-right: 50px;
  }

  .new-heading ul {
    margin: 9px 25px 0 0;
  }

  .new-party.party-margin {
    margin-left: 10px;
  }
  
  .wats-new > div:last-child {
    padding-right: 0;
  }

  .wats-new > div {
    padding-right: 3px;
  }
}
